* {
    box-sizing: border-box;
    background-color: rgb(233, 208, 181);
    margin: 10px;
}

h2 {
    color: white;
    font-size: 20px;
    font-style: italic;
    align-self: center;
    margin: 10px;
}

p {
    color: white;
    font-size: 50px;
    margin: 10px;
}